---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, what_i_do } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        </div>
        <div class="">
          <h2 class="h2 text-corail-100 mb-8"> Qui je suis </h2>
          <p>Je suis une future ingénieure des médias, prochainement diplômée en septembre 2024.
            Au cours de ma formation à la HEIG-VD, j'ai pu découvrir une vraie passion pour tout ce qui touche au développement web front.
            <br> <br>
            C'est pourquoi, je me suis spécialisée dans les domaines d'UX, d'UI et le développement front-end.
          </p>
          <div class="content">
            <Content />
          </div>
        </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row justify-center gy-4 text-center">
        {what_i_do.items.map((item: any) => (
          <div class="lg:col-4 md:col-6">
            <i class="{{.icon}} fa-3x text-primary mb-4"></i>
            <h4 class="text-dark font-weight-700 mb-3">{item.title}</h4>
            <p>{item.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>
</Base>


